@font-face {
  font-family: "iconfont"; /* Project id 4822673 */
  src: url('iconfont.woff2?t=1738981610618') format('woff2'),
       url('iconfont.woff?t=1738981610618') format('woff'),
       url('iconfont.ttf?t=1738981610618') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xialashuaxin:before {
  content: "\e617";
}

